<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bobatrackerv001">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BobaTrackerV001"
        android:fullBackupContent="true">

        <!--login page activity-->
        <activity android:name=".activities.login_page.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--home page activity-->
        <activity android:name=".activities.home_page.HomeActivity" />
        <!--sign up page activity-->
        <activity android:name=".activities.signup_page.SignupActivity" />
        <!--order history page activity-->
        <activity android:name=".activities.order_history.OrderHistoryActivity"/>
        <!--add new order activity-->
        <activity android:name=".activities.add_order.AddOrderActivity"/>


    </application>

</manifest>